.clientefinal-paneldereservas-clientefinal-paneldereservas {
  /* Cliente final: Panel de reservas */

  position: relative;
  width: 100%;
  height: 768px;

  /* White */

  background: #ffffff;
  left: 276px;
}
.clientefinal-paneldereservas-mensaje {
  /* Mensaje */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 24px;

  position: absolute;
  width: 1176px;
  height: 236px;
  left: 96px;
  top: 144px;
}
.clientefinal-paneldereservas-user-interface {
  /* User Interface */

  width: 48px;
  height: 48px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.clientefinal-paneldereservas-union {
  /* Union */

  position: absolute;
  width: 40px;
  height: 40px;
  left: 578px;
  top: 4px;

  /* Secundario */

  color: $primaryColor;
  border: $primaryColor 2px solid;
  border-radius: 7px;
}
.clientefinal-paneldereservas-text {
  /* Título */

  width: 1176px;
  height: 32px;

  /* Headline/SemiBold · 26 · 32 */

  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 32px;
  /* identical to box height, or 123% */

  text-align: center;
  font-feature-settings: "zero" on;

  /* Principal */

  color: #a442f1;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
.clientefinal-paneldereservas-text02 {
  /* Txt */

  width: 1176px;
  height: 40px;

  /* Body/Regular · 14 · 20 */

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */

  text-align: center;

  /* Grey 8 */

  color: #505050;

  /* Inside auto layout */

  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}
.clientefinal-paneldereservas-c-t-a-desktop1 {
  /* CTA-Desktop-1 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  gap: 4px;

  width: 382px;
  height: 44px;

  /* Principal */

  background: #a442f1;
  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  order: 3;
  flex-grow: 0;
}
.clientefinal-paneldereservas-text07 {
  /* Text */

  width: 334px;
  height: 20px;

  /* Semibold · 16 · 20 */

  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */

  align-items: center;
  text-align: center;
  font-feature-settings: "zero" on;

  /* White */

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 1;
}
.clientefinal-paneldereservas-pedido {
  /* Pedido */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;

  position: absolute;
  width: 1176px;
  height: 260px;
  left: 96px;
  top: 436px;
}
.clientefinal-paneldereservas-border {
  /* Border */

  width: 1176px;
  height: 0px;

  /* Grey 1 */

  border: 2px solid #f5f5f5;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.clientefinal-paneldereservas-content {
  /* Content */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;

  width: 1176px;
  height: 96px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
.clientefinal-paneldereservas-pedido1 {
  /* Pedido */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;

  width: 977px;
  height: 64px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.clientefinal-paneldereservas-text09 {
  /* codigo */

  width: 977px;
  height: 32px;

  /* Headline/SemiBold · 26 · 32 */

  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 32px;
  /* identical to box height, or 123% */

  font-feature-settings: "zero" on;

  /* Black */

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.clientefinal-paneldereservas-text10 {
  color: $primaryColor;
}
.clientefinal-paneldereservas-info {
  /* Info */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;

  width: 977px;
  height: 20px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
.clientefinal-paneldereservas-text12 {
  /* Txt */

  width: 977px;
  height: 20px;

  /* Body/SemiBold · 14 · 20 */

  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  font-feature-settings: "ordn" on, "liga" off;

  /* Grey 8 */

  color: #505050;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.clientefinal-paneldereservas-c-t-a {
  /* CTA */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;

  width: 183px;
  height: 96px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 1;
}
.clientefinal-paneldereservas-c-t-a-desktop2 {
  /* CTA-Desktop-2 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  gap: 4px;

  width: 183px;
  height: 44px;

  background: rgba(164, 66, 241, 0.1);
  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.clientefinal-paneldereservas-user-interface1 {
  /* User Interface */

  width: 20px;
  height: 20px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.clientefinal-paneldereservas-text14 {
  /* Txt */

  width: 100px;
  height: 20px;

  /* Semibold · 16 · 20 */

  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */

  display: flex;
  align-items: center;
  font-feature-settings: "zero" on;

  /* Principal */

  color: #a442f1;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.clientefinal-paneldereservas-c-t-a-desktop4 {
  /* CTA-Desktop-4 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  gap: 4px;

  width: 183px;
  height: 44px;

  /* Grey 1 */

  background: #f5f5f5;
  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
.clientefinal-paneldereservas-user-interface2 {
  /* User Interface */

  width: 20px;
  height: 20px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.clientefinal-paneldereservas-text16 {
  /* Txt */

  width: 114px;
  height: 20px;

  /* Semibold · 15 · 20 */

  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  /* identical to box height, or 133% */

  display: flex;
  align-items: center;
  font-feature-settings: "zero" on;

  /* Error */

  color: #e53939;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.clientefinal-paneldereservas-info1 {
  /* Info */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 48px;

  width: 1176px;
  height: 100px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}
.clientefinal-paneldereservas-informacin {
  /* Información */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;

  width: 360px;
  height: 100px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 1;
}
.clientefinal-paneldereservas-text18 {
  /* Nombre */

  width: 360px;
  height: 20px;

  /* SemiBold · 16 · 20 */

  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */

  font-feature-settings: "zero" on;

  /* Black */

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.clientefinal-paneldereservas-data {
  /* Data */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;

  width: 360px;
  height: 44px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
.clientefinal-paneldereservas-txt {
  /* Txt */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;

  width: 151px;
  height: 20px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.clientefinal-paneldereservas-text20 {
  /* Txt */

  width: 31px;
  height: 20px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  /* Grey 8 */

  color: #505050;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.clientefinal-paneldereservas-text22 {
  /* Txt */

  width: 116px;
  height: 20px;

  /* Body/Regular · 14 · 20 */

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  /* Grey 8 */

  color: #505050;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.clientefinal-paneldereservas-txt1 {
  /* Txt */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;

  width: 142px;
  height: 20px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.clientefinal-paneldereservas-text24 {
  /* Txt */

  width: 59px;
  height: 20px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  /* Grey 8 */

  color: #505050;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.clientefinal-paneldereservas-text26 {
  /* Txt */

  width: 79px;
  height: 20px;

  /* Body/Regular · 14 · 20 */

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  /* Grey 8 */

  color: #505050;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.clientefinal-paneldereservas-informacin1 {
  /* Información */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;

  width: 360px;
  height: 100px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 1;
}
.clientefinal-paneldereservas-text28 {
  /* Nombre */

  width: 360px;
  height: 20px;

  /* SemiBold · 16 · 20 */

  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */

  font-feature-settings: "zero" on;

  /* Black */

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.clientefinal-paneldereservas-data1 {
  /* Data */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;

  width: 360px;
  height: 44px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
.clientefinal-paneldereservas-txt2 {
  /* Txt */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;

  width: 138px;
  height: 20px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.clientefinal-paneldereservas-text30 {
  /* Txt */

  width: 59px;
  height: 20px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  /* Grey 8 */

  color: #505050;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.clientefinal-paneldereservas-text32 {
  /* Txt */

  width: 75px;
  height: 20px;

  /* Body/Regular · 14 · 20 */

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  /* Grey 8 */

  color: #505050;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.clientefinal-paneldereservas-txt3 {
  /* Txt */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;

  width: 109px;
  height: 20px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}
.clientefinal-paneldereservas-text34 {
  /* Txt */

  width: 51px;
  height: 20px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  /* Grey 8 */

  color: #505050;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.clientefinal-paneldereservas-text36 {
  /* Txt */

  width: 54px;
  height: 20px;

  /* Body/Regular · 14 · 20 */

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  /* Grey 8 */

  color: #505050;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.clientefinal-paneldereservas-informacin2 {
  /* Información */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;

  width: 360px;
  height: 100px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 1;
}
.clientefinal-paneldereservas-text38 {
  /* Nombre */

  width: 360px;
  height: 20px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.clientefinal-paneldereservas-data2 {
  /* Data */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;

  width: 360px;
  height: 44px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
.clientefinal-paneldereservas-txt4 {
  /* Txt */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;

  width: 4px;
  height: 20px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.clientefinal-paneldereservas-text39 {
  /* Txt */

  width: 0px;
  height: 20px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.clientefinal-paneldereservas-text40 {
  /* Txt */

  width: 0px;
  height: 20px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.clientefinal-paneldereservas-txt5 {
  /* Txt */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;

  width: 4px;
  height: 20px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.clientefinal-paneldereservas-text41 {
  /* Txt */

  width: 0px;
  height: 20px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.clientefinal-paneldereservas-text42 {
  /* Txt */

  width: 0px;
  height: 20px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
