.header-header {
  /* Header */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 96px;
  gap: 14px;

  position: absolute;
  width: 100%;
  height: 76px;
  left: 0px;
  top: 36px;

  /* White */

  background: #ffffff;
  /* Shadow */

  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
}
.header-c-t-a-desktop2 {
  /* CTA-Desktop-2 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  gap: 4px;

  width: 112px;
  height: 44px;

  background: rgba(164, 66, 241, 0.1);
  border-radius: 8px;
  border: none;
  cursor: pointer;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.header-text {
  /* Txt */

  width: 64px;
  height: 20px;

  /* Semibold · 16 · 20 */

  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */

  display: flex;
  align-items: center;
  text-align: center;
  font-feature-settings: "zero" on;

  /* Principal */

  color: #a442f1;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.header-men {
  /* Menú */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  gap: 20px;

  width: 1050px;
  height: 20px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 1;
}
.header-c-t-a-desktop3 {
  /* CTA-Desktop-3 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 2px;

  width: 103px;
  height: 20px;

  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.header-text2 {
  /* Txt */

  width: 81px;
  height: 16px;

  /* Semibold · 14 · 16 */

  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */

  display: flex;
  align-items: center;
  font-feature-settings: "zero" on;

  /* Black */

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.header-user-interface {
  /* User Interface */

  width: 20px;
  height: 20px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}
.header-c-t-a-desktop31 {
  /* CTA-Desktop-3 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 2px;

  width: 86px;
  height: 20px;

  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  order: 3;
  flex-grow: 0;
}
.header-text4 {
  /* Txt */

  width: 64px;
  height: 16px;

  /* Semibold · 14 · 16 */

  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */

  display: flex;
  align-items: center;
  font-feature-settings: "zero" on;

  /* Black */

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.header-user-interface1 {
  /* User Interface */

  width: 20px;
  height: 20px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}

/* navbar admin*/

.header-c-t-a-desktop21 {
  /* CTA-Desktop-2 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  gap: 4px;

  width: 111px;
  height: 44px;

  background: rgba(164, 66, 241, 0.1);
  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
.header-text02 {
  /* Txt */

  width: 63px;
  height: 20px;

  /* Semibold · 16 · 20 */

  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */

  display: flex;
  align-items: center;
  text-align: center;
  font-feature-settings: "zero" on;

  /* Principal */

  color: #a442f1;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.header-text04 {
  /* Txt */

  width: 70px;
  height: 16px;

  /* Semibold · 14 · 16 */

  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */

  display: flex;
  align-items: center;
  font-feature-settings: "zero" on;

  /* Principal */

  color: #a442f1;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.header-location {
  /* Location */

  width: 20px;
  height: 20px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}

.header-c-t-a-desktop31 {
  /* CTA-Desktop-3 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 2px;

  width: 95px;
  height: 20px;

  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.header-text06 {
  /* Txt */

  width: 73px;
  height: 16px;

  /* Semibold · 14 · 16 */

  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */

  display: flex;
  align-items: center;
  font-feature-settings: "zero" on;

  /* Black */

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.header-communication {
  /* Communication */

  width: 20px;
  height: 20px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}
.header-c-t-a-desktop32 {
  /* CTA-Desktop-3 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 2px;

  width: 80px;
  height: 20px;

  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}
.header-text08 {
  /* Txt */

  width: 58px;
  height: 16px;

  /* Semibold · 14 · 16 */

  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */

  display: flex;
  align-items: center;
  font-feature-settings: "zero" on;

  /* Black */

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.header-files {
  /* Files */

  width: 20px;
  height: 20px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}
.header-c-t-a-desktop33 {
  /* CTA-Desktop-3 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 2px;

  width: 86px;
  height: 20px;

  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  order: 3;
  flex-grow: 0;
}
.header-text10 {
  /* Txt */

  width: 64px;
  height: 16px;

  /* Semibold · 14 · 16 */

  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */

  display: flex;
  align-items: center;
  font-feature-settings: "zero" on;

  /* Black */

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.header-user-interface {
  /* User Interface */

  width: 20px;
  height: 20px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}
.my-account {
  .navbar_menu {
    opacity: 0;
  }
}

.my-account:hover {
  .navbar_menu {
    opacity: 1;
  }
}
.navbar_menu {
  height: 100%;
  position: absolute;
  margin-top: 10vh;
  margin-right: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 65px;

  button {
    width: 100px;
    height: 40px;
    border: none;
    background-color: $white;
    color: $black;
    border: $black solid 1px;
    cursor: pointer;
  }

  button:hover {
    color: $black;
  }
}
