.administrador-listadodeoperadores-administrador-listadodeoperadores {
  /* Administrador: Listado de operadores */

  position: relative;
  width: 100%;
  height: 1068px;

  /* White */

  background: #ffffff;
}
.administrador-listadodeoperadores-text {
  /* Operadores */

  position: absolute;
  height: 24px;
  left: 260px;
  right: 96px;
  top: 160px;

  /* SemiBold · 20 · 24 */

  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */

  font-feature-settings: "zero" on;

  /* Black */

  color: #000000;
}
.administrador-listadodeoperadores-reservas {
  /* Reservas */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;

  position: absolute;
  width: 1176px;
  height: 740px;
  left: 260px;
  top: 208px;
}
.administrador-listadodeoperadores-pedido-mi-cuenta {
  /* Pedido Mi Cuenta */

  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 24px;
  gap: 16px;

  width: 1176px;
  height: 92px;

  /* White */

  background: #ffffff;
  /* Grey 2 */

  border: 1px solid #f0f0f0;
  border-radius: 12px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.administrador-listadodeoperadores-info {
  /* Info */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;

  width: 244px;
  height: 36px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 1;
}
.administrador-listadodeoperadores-text002 {
  /* Txt */

  width: 244px;
  height: 16px;

  /* Regular · 12 · 16 */

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */

  /* Grey 8 */

  color: #505050;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.administrador-listadodeoperadores-text004 {
  /* Txt */

  width: 244px;
  height: 16px;

  /* Semibold · 14 · 16 */

  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */

  font-feature-settings: "zero" on;

  /* Black */

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
.administrador-listadodeoperadores-info01 {
  /* Info */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;

  width: 244px;
  height: 36px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 1;
}
.administrador-listadodeoperadores-text006 {
  /* tit */

  width: 244px;
  height: 16px;

  /* Regular · 12 · 16 */

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */

  /* Grey 8 */

  color: #505050;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.administrador-listadodeoperadores-text008 {
  /* txt */

  width: 244px;
  height: 16px;

  /* Semibold · 14 · 16 */

  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */

  font-feature-settings: "zero" on;

  /* Black */

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
.administrador-listadodeoperadores-info02 {
  /* Info */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;

  width: 244px;
  height: 36px;

  /* Inside auto layout */

  flex: none;
  order: 3;
  flex-grow: 1;
}
.administrador-listadodeoperadores-text010 {
  /* tit */

  width: 244px;
  height: 16px;

  /* Regular · 12 · 16 */

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */

  /* Grey 8 */

  color: #505050;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.administrador-listadodeoperadores-text012 {
  /* txt */

  width: 244px;
  height: 16px;

  /* Semibold · 14 · 16 */

  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */

  font-feature-settings: "zero" on;

  /* Black */

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
.administrador-listadodeoperadores-info03 {
  /* Info */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;

  width: 244px;
  height: 36px;

  /* Inside auto layout */

  flex: none;
  order: 4;
  flex-grow: 1;
}
.administrador-listadodeoperadores-text014 {
  /* tit */

  width: 244px;
  height: 16px;

  /* Regular · 12 · 16 */

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */

  /* Grey 8 */

  color: #505050;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.administrador-listadodeoperadores-text016 {
  /* txt */

  width: 244px;
  height: 16px;

  /* Semibold · 14 · 16 */

  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */

  font-feature-settings: "zero" on;

  /* Black */

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
.administrador-listadodeoperadores-c-t-a-desktop4 {
  /* CTA-Desktop-4 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  gap: 8px;

  width: 88px;
  height: 44px;

  /* Grey 1 */

  background: #f5f5f5;
  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  order: 5;
  flex-grow: 0;
}
.administrador-listadodeoperadores-text018 {
  /* Txt */

  width: 40px;
  height: 20px;

  /* Semibold · 15 · 20 */

  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  /* identical to box height, or 133% */

  display: flex;
  align-items: center;
  text-align: center;
  font-feature-settings: "zero" on;

  /* Principal */

  color: #a442f1;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
